.main {
    width: calc(100vw - 13rem);

    &_title {
        color: var(--txt-color);
    }

    &_content {
        margin-top: 8rem;
        padding: 0 4rem;
        
        &_list {
            display: flex;
            gap: 2rem;
            margin-top: 4rem;

            &_note {
                width: 25rem;
                height: 25rem;
                border-radius: 2rem;
                padding: 2rem;
                background-color: rgb(226, 148, 32);
                color: var(--txt-color);
    
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                &_txt {
                    height: 18rem;
                    overflow-x: hidden;
                }
    
                &_actions {
                    display: flex;
                    justify-content: space-between;
    
                    &_date {
                        font-size: 1.4rem;
                    }
    
                    &_edit {
                        &_icon {
                            cursor: pointer;
                        }
                    }
                }
            }

            &_empty {
                color: #777;
                font-size: 1.8rem;
            }
        }
    }
}