<div class="main">
    <div class="main_header">
        <app-header></app-header>
    </div>
    
    <div class="main_content">
        <h1 class="main_content_title">Notes</h1>
        
        <ul class="main_content_list">

            @for (note of noteList; track $index) {
                <li class="main_content_list_note">
                    <p class="main_content_list_note_txt">{{note.value.txt}}</p>
        
                    <div class="main_content_list_note_actions">
                        <span class="main_content_list_note_actions_date">{{note.value.date}}</span>
                        <span class="main_content_list_note_actions_edit">
                            <ng-icon class="main_content_list_note_actions_edit_icon" name="ionCreateOutline" size="2rem"></ng-icon>
                        </span>
                    </div>
                </li>
            }@empty {
                <span class="main_content_list_empty">Nenhuma nota cadastrada.</span>
            }
        </ul>
    </div>
</div>