<div class="main">
    <h1 class="main_title">Notes</h1>

    <ul class="main_content">
        <li class="main_content_note">
            <p class="main_content_note_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, nostrum! Culpa modi totam, atque voluptatibus deleniti porro perspiciatis eum distinctio doloribus minus fuga harum quos debitis nesciunt ratione libero praesentium.</p>

            <div class="main_content_note_actions">
                <span class="main_content_note_button_date">Data</span>
                <span class="main_content_note_button_edit">Editar</span>
            </div>
        </li>
    </ul>
</div>